.Post {
    margin: auto;
    margin-top: 0;
    padding-top: 110px;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;


    div {
        border-radius: 50px;
        padding: 20px;
        margin: 10px 0px;
    }

    div:nth-child(1) {

        background: red;
        height: 100px;
        flex: 1;

        div {
            background: blue;
            border-radius: 100%;
            margin: 0px;
            width: 100px;
            height: 100px;
            top: 0;
        }
    }

    div:nth-child(2) {
        background: blue;
        height: 250px;
    }
}